* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

h1 {
    color: #000;
    margin-right: 100px;
}

img,
video {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style-type: none;
}

span {
    font-weight: bold;
}