.recette {
    background-color: $light-gray;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    .img-container {
        img {
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }
    }
    .content-container {
        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            > * {
                padding: 1rem;
            }
            .recette-title {
                font-size: 1.8rem;
            }
            .recette-time {
                font-size: 1.5rem;
            }
        }
        .body-content {
            display: flex;
            padding-bottom: 2rem;
            > * {
                padding: 1rem;
            }
            .list-ingredients {
                flex: 50%;
                font-size: 1.1rem;
            }
            .recette-text {
                flex: 50%;
            }
        }
    }
}