* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

h1 {
  color: #000;
  margin-right: 100px;
}

img,
video {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style-type: none;
}

span {
  font-weight: bold;
}

/* Layout */
header {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
header img.logo {
  width: 20%;
}

.page-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5rem;
}

/* Pages */
section.container-search-bar {
  width: 100%;
  position: relative;
}
section.container-search-bar input {
  min-width: 100%;
  height: 5rem;
  background-color: #E7E7E7;
  border: 0;
  outline: 0;
  padding: 1rem;
  border-radius: 0.5rem;
}
section.container-search-bar input::placeholder {
  color: #ADADAD;
  opacity: 1;
}
section.container-search-bar input:-ms-input-placeholder {
  color: #ADADAD;
}
section.container-search-bar input::-ms-input-placeholder {
  color: #ADADAD;
}
section.container-search-bar i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  font-size: 25px;
}
section.container-search-bar i:hover {
  cursor: pointer;
}

section.container-selectors {
  margin: 2rem 0;
}
section.container-selectors .list-things-choosed {
  margin: 1rem 0;
  display: flex;
  flex-wrap: nowrap;
}
section.container-selectors .list-things-choosed .thing {
  font-size: 1.4rem;
  background-color: #E7E7E7;
  padding: 0.7rem 1.8rem;
  margin: 0 1rem;
  border-radius: 0.5rem;
  color: #fff;
}
section.container-selectors .list-things-choosed .thing:first-child {
  margin-left: 0;
}
section.container-selectors .list-things-choosed .thing.blue {
  background-color: #3382F7;
}
section.container-selectors .list-things-choosed .thing.red {
  background-color: #ED6454;
}
section.container-selectors .list-things-choosed .thing.green {
  background-color: #68D9A4;
}
section.container-selectors .list-things-choosed .thing span {
  margin-right: 1rem;
}
section.container-selectors .list-things-choosed .thing i:hover {
  cursor: pointer;
}
section.container-selectors .selectors {
  margin: 2rem 0;
  display: flex;
  align-items: start;
}
section.container-selectors .selectors .selector {
  padding: 1rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}
section.container-selectors .selectors .selector.selector-ingredient {
  background-color: #3382F7;
}
section.container-selectors .selectors .selector.selector-appareil {
  background-color: #68D9A4;
}
section.container-selectors .selectors .selector.selector-ustencile {
  background-color: #ED6454;
}
section.container-selectors .selectors .selector .input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.container-selectors .selectors .selector .input input {
  background: none;
  border: none;
  outline: none;
  width: auto;
}
section.container-selectors .selectors .selector .input input::placeholder {
  color: #fff;
  opacity: 1;
}
section.container-selectors .selectors .selector .input input:-ms-input-placeholder {
  color: #fff;
}
section.container-selectors .selectors .selector .input input::-ms-input-placeholder {
  color: #fff;
}
section.container-selectors .selectors .selector .input i {
  color: #fff;
  font-size: 1.5rem;
}
section.container-selectors .selectors .selector .input i:hover {
  cursor: pointer;
}
section.container-selectors .selectors .selector .input i.rotated {
  transform: rotate(180deg);
}
section.container-selectors .selectors .selector .list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20px;
  margin: 1rem 0;
}
section.container-selectors .selectors .selector .list .list-item {
  color: #fff;
  font-size: 1.4rem;
  margin-right: 1.5rem;
}
section.container-selectors .selectors .selector .list .list-item:hover {
  cursor: pointer;
}
section.container-selectors .selectors .selector .list-ingredient.hide,
section.container-selectors .selectors .selector .list-appareil.hide,
section.container-selectors .selectors .selector .list-ustencile.hide {
  display: none;
}

section.list-recettes {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
}

/* Components */
.recette {
  background-color: #E7E7E7;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.recette .img-container img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.recette .content-container .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recette .content-container .header-content > * {
  padding: 1rem;
}
.recette .content-container .header-content .recette-title {
  font-size: 1.8rem;
}
.recette .content-container .header-content .recette-time {
  font-size: 1.5rem;
}
.recette .content-container .body-content {
  display: flex;
  padding-bottom: 2rem;
}
.recette .content-container .body-content > * {
  padding: 1rem;
}
.recette .content-container .body-content .list-ingredients {
  flex: 50%;
  font-size: 1.1rem;
}
.recette .content-container .body-content .recette-text {
  flex: 50%;
}

/*# sourceMappingURL=style.css.map */
