section.container-search-bar {
    width: 100%;
    position: relative;
    input {
        min-width: 100%;
        height: 5rem;
        background-color: $light-gray;
        border: 0;
        outline: 0;
        padding: 1rem;
        border-radius: 0.5rem;
        &::placeholder {
            color: #ADADAD;
            opacity: 1;
        }
        &:-ms-input-placeholder {
            color: #ADADAD;
        }
          
        &::-ms-input-placeholder {
            color: #ADADAD;
        }
    }
    i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        font-size: 25px;
        &:hover {
            cursor: pointer;
        }
    }
}

section.container-selectors {
    margin: 2rem 0;
    .list-things-choosed {
        margin: 1rem 0;
        display: flex;
        flex-wrap: nowrap;
        .thing {
            font-size: 1.4rem;
            background-color: $light-gray;
            padding: 0.7rem 1.8rem;
            margin: 0 1rem;
            border-radius: 0.5rem;
            color: $white;
            &:first-child {
                margin-left: 0;
            }
            &.blue {
                background-color: $blue;
            }
            &.red {
                background-color: $red;
            }
            &.green {
                background-color: $green;
            }
            span {
                margin-right: 1rem;
            }
            i {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .selectors {
        margin: 2rem 0;
        display: flex;
        align-items: start;

        .selector {
            padding: 1rem;
            border-radius: 0.5rem;
            margin-right: 1rem;

            &.selector-ingredient {
                background-color: $blue;
            }
            &.selector-appareil {
                background-color: $green;
            }
            &.selector-ustencile {
                background-color: $red;
            }
            
            .input {
                display: flex;
                justify-content: space-between;
                align-items: center;
                input {
                    background: none;
                    border: none;
                    outline: none;
                    width: auto;
                    &::placeholder {
                        color: $white;
                        opacity: 1;
                    }
                    &:-ms-input-placeholder {
                        color: $white;
                    }
                      
                    &::-ms-input-placeholder {
                        color: $white;
                    }
                }
    
                i {
                    color: $white;
                    font-size: 1.5rem;
                    &:hover {
                        cursor: pointer;
                    }
                    &.rotated {
                        transform: rotate(180deg);
                    }
                }
            }
            
            .list {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 20px;
                margin: 1rem 0;

                .list-item {
                    color: $white;
                    font-size: 1.4rem;
                    margin-right: 1.5rem;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .list-ingredient,
            .list-appareil,
            .list-ustencile {
                &.hide {
                    display: none;
                }
            }
        }
    }
}

section.list-recettes {
    margin: 4rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
}